pkgbase = nirisnap
	pkgdesc = Native Wayland screenshot and annotation overlay for Niri
	pkgver = 1.1.0
	pkgrel = 1
	url = https://github.com/sergionoodles/nirisnap
	arch = x86_64
	license = MIT
	makedepends = cmake
	makedepends = ninja
	makedepends = pkgconf
	makedepends = qt6-wayland
	makedepends = wayland-protocols
	makedepends = git
	depends = qt6-base
	depends = layer-shell-qt
	depends = wayland
	depends = niri
	depends = wl-clipboard
	optdepends = tesseract: OCR text recognition
	optdepends = tesseract-data-eng: OCR English data
	optdepends = libnotify: capture-finished notifications via notify-send
	source = nirisnap-1.1.0.tar.gz::https://github.com/sergionoodles/nirisnap/archive/refs/tags/v1.1.0.tar.gz
	sha256sums = b13523fe7664e62e6440aebe94a3ef8536ab85fa36595095097c6b476b7d214a

pkgname = nirisnap
