pkgbase = nirisnap
	pkgdesc = Native Wayland screenshot and annotation overlay for Niri
	pkgver = 2026.9.1
	pkgrel = 1
	url = https://github.com/sergionoodles/nirisnap
	arch = x86_64
	license = MIT
	makedepends = cmake
	makedepends = ninja
	makedepends = pkgconf
	makedepends = qt6-wayland
	makedepends = wayland-protocols
	makedepends = git
	depends = qt6-base
	depends = layer-shell-qt
	depends = wayland
	depends = niri
	depends = wl-clipboard
	optdepends = tesseract: OCR text recognition
	optdepends = tesseract-data-eng: OCR English data
	optdepends = libnotify: capture-finished notifications via notify-send
	source = nirisnap-2026.9.1.tar.gz::https://github.com/sergionoodles/nirisnap/archive/refs/tags/v2026.9.1.tar.gz
	sha256sums = 4455715bebf0aed39884c8b3a39bc7361ea534c2b0329fa89b1b39911d57b5c8

pkgname = nirisnap
