pkgbase = nirisnap
	pkgdesc = Native Wayland screenshot and annotation overlay for Niri
	pkgver = 1.0.0
	pkgrel = 1
	url = https://github.com/sergionoodles/nirisnap
	arch = x86_64
	license = MIT
	makedepends = cmake
	makedepends = ninja
	makedepends = pkgconf
	makedepends = qt6-wayland
	makedepends = wayland-protocols
	makedepends = git
	depends = qt6-base
	depends = layer-shell-qt
	depends = wayland
	depends = niri
	depends = wl-clipboard
	optdepends = tesseract: OCR text recognition
	optdepends = tesseract-data-eng: OCR English data
	optdepends = libnotify: capture-finished notifications via notify-send
	source = nirisnap-1.0.0.tar.gz::https://github.com/sergionoodles/nirisnap/archive/refs/tags/v1.0.0.tar.gz
	sha256sums = 69988484d81e253f3920d5e0cab1ce0e6046520c666a01bdb69109979b705fd6

pkgname = nirisnap
